* {
    padding: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    line-height: 22px;
    padding: 20px 50px;
}

h1{
    line-height: 75px;
}

a{
    text-decoration: none;
    color:#97ADBA;
}

li{
    list-style-type: none;
    display: inline;
    margin: 0 4px;
}

i{
    font-size: 40px;

}

i:hover{
    color: #6E8FA1;
    transition: 300ms;
}


.round-photo{
    border-radius: 200px;
    width: 420px;
    height: 400px;
}

.button-main{
    width: 100px;
    height:75px;
    color: #f9f9f9;
    background-color:#28536b;
    padding: 10px;
    border-radius: 10px;
    transition: 300ms;
}

.button-main:hover{
    background-color: #6E8FA1;
}

.card{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px;
    position: relative;
}

.project-image{
    width: 100%;
    height: 27vh;
    border-radius: 2px;
}

/* .project-image:hover{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
} */

.portfolio-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}



.img-card{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 27vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.3) 2.95px 2.95px 3.6px;
    transition: 200ms;
    background-color: black;
}

.img-card:hover{
    opacity: 0.8;
}

.img-card:hover p{
    opacity: 1;
    transition: 3s;
}

.img-card p{
    opacity: 0;
}

.text-container{
    display: none;
}

.text-main{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 30px;
}

/* Animations */

@media (max-width: 1024px){
    .portfolio-img-container{
        grid-template-columns: 1fr 
    }
    
    .project-image{
        height: 19vh;
    }
}

@media (max-width: 960px){
    .continer{
        width: 700px;
    }

    .round-photo{
        border-radius: 200px;
        width: 320px;
        height: 300px;
    }

    .button-main{
        width: 100px;
        height:75px;
        font-size:12px;
    }
}

@media (max-width: 760px){

    .round-photo{
        border-radius: 200px;
        width: 200px;
        height: 180px;
    }

    .card{
        width:80%;
    }

    .portfolio-img-container{
        grid-template-columns: 1fr 
    }
    
    .project-image{
        height: 16vh;
    }
}
